h1 {
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: "josefin sans", "open sans", "verdana", "sans-serif";
}

p {
  color: white;
  font-size: ;
  font-weight: ;
  font-family: "open sans", "roboto", "verdana", "sans-serif";
}

body {
  background-color: #003153
}
