h1 {
	color: white;
	font-size: 40px;
	font-weight: bold;
	font-family: "josefin sans", "open sans", "verdana", "sans-serif";
}

p {
  color: white;
  font-size: 20px;
  font-weight: ;
  font-family: "raleway", "open sans", "roboto", "verdana", "sans-serif";
}

body {
  background-color: #003153
}

.main-container {
	height: 200px;
	width: 500px;
	position: absolute;
	top: 36.97916666%;
	left: 36.97916666%;
}

.vert-horiz-center {
	margin: 0;
	position: relative;
	top: 25%;
	/*left: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);*/
}
